@charset "UTF-8";
/* CSS Document */

body {
	font-family: Helvetica, Univers, Futura;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
	width: 1200px;
	margin: 10px;
/*	display: flex; */
}

/*  GLOBAL STYLES  */

.main {
	display: inline-block;
	padding-top: 62px;
	justify-content: center;
	max-width: 1200px;
}

/* NAV BAR */

.heading {
	height: 69px;
	width: 100%;
	border-bottom: 1px solid seashell;
	display: flex;
	align-items: center;
	position: fixed;
	background-color: black;
	top: 0px;
	left: 0px;

}

.logo {
	height: 50px;
	width: auto;
	align-items: center;
	padding-left: 10px;
}

.nav {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	
	
}

.nav a {
	list-style: none;
	color: seashell;
	padding: 5px 10px;
	text-decoration: underline;
	

}

/* LANDING PAGE */

.landing {
	display: flex;
	width: 1200px;
	height: 700px;
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
	margin-top: 69px;
	
	align-items: center;
	top: 50%;
	margin: 0;
	
}

.titles {
	background-color: black;
	width: 1200px;
	align-items: center;
}

.titles h2 {
	padding: 0px;
}


/*  TEA OF THE MONTH  */

.titles2{
	display: flex;
	flex-direction: column;
	width: 1200px;
	height: auto;
	align-items: center;
	justify-content: center;
}

/*.month {
	width: 1200px;
	height: auto;
	display: inline-flex; 
	flex-direction: column;
	margin: auto;
	position: relative;
} */


/*  TEA PAGE */

.teapage {
	width: 1000px;
	height: auto;
/*	display: inline-flex; */
	align-items: center;
}

.teapage titles2 {
	width: 100%;
	flex-basis: 100%;
	flex-wrap: wrap;
}

.article img {
	width: 300px;
	height: 200px;
	object-fit: fill;
	padding: 0px;
	margin: 0px;
}

*.articles {
	display: flex;
	width: 100%;
	height: auto;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}  

.article {
	display: flex;
	flex-direction: column;
	padding: 20px 15px;
}

.article h4 {
	padding: 0px;
	margin: 10px;
}

/*  LOCATIONS */

.locationpage {
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
	width: 1200px;
	height: 500px;
	align-items: center;
	justify-content: center;
	object-fit: cover;
	display: inline-flex;
	flex-direction: column;
}

.locations {
	display: flex;
	justify-content: center;
	align-content: center;
	top: 50%;
}

.locationpage h2 {
	padding-top: 7%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	/*flex-basis: 100%;
	flex-wrap: wrap; */
}

.location {
	background-color: black;
	width: 300px;
	margin: 15px 20px;
	opacity: 1;
	flex-direction: row;
	paddnig: 5px 50px;
}

.location h3 {
	margin: 0px;
	padding-top: 20px;
}

.location p {
	line-height: 300%;
	padding: 0px 15px;
	margin-bottom: 10px;
}

/*  FOOTER  */

.footer {
	height: 200px;
	padding: 0px;
	margin: 0px;
}

.copyright {
	padding: 0px;
	padding-left: 20px;
	margin: 0px;
	text-align: left;
}

